/********** General **********/
@media screen and (min-width: 0px) {
  /* Variables */
  :root {
    --font-family: "Roboto", sans-serif;
    --color-one: hsl(240, 0%, 95%);
    --color-two: hsl(240, 0%, 75%);
    --color-three: hsl(240, 0%, 55%);
    --color-four: hsl(240, 0%, 35%);
    --color-five: hsl(240, 0%, 15%);
    --primary-color: hsl(201, 100%, 36%);
    --secondary-color: hsl(215.38, 16.32%, 46.86%);
  }

  /* CSS Resets */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
  }

  body {
    font-family: var(--font-family);
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: var(--color-five);
  }

  a:hover {
    color: var(--color-three);
  }

  /* h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--color-five);
  } */

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 36px;
    padding: 2rem;
    text-align: center;
  }

  h5 {
    font-size: 30px;
  }

  h6 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }

  section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/********** Navigation **********/
/* Mobile Navbar */
@media screen and (min-width: 0px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  nav {
    background-color: white;
  }

  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 95%;
    margin: auto;
  }

  .logo {
    display: flex;
    align-items: center;
    width: 14.25rem;
    height: 4rem;
  }

  .logo .rectangle {
    position: absolute;
    width: 6rem;
    height: 3rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }

  .logo .rectangle-sm {
    height: 1rem;
  }

  .logo .line {
    border-right: 1px solid black;
  }

  .logo .logo-text {
    margin: auto;
    font-weight: bold;
    color: var(--primary-color);
  }

  .logo .logo-text span {
    color: black;
  }

  nav ul {
    display: flex;
    position: fixed;
    width: 100%;
    text-align: center;
    left: -100%;
    flex-direction: column;
  }

  nav ul.active {
    left: 0;
    top: 5rem;
    background-color: white;
    opacity: 0.97;
  }

  nav ul li {
    margin: 1rem;
    text-transform: capitalize;
  }

  /* Hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    background-color: black;
    height: 3px;
    width: 25px;
    margin: 5px;
    display: block;
  }
}

/* Desktop Navbar */
@media screen and (min-width: 48rem) {
  nav {
    background-color: transparent;
  }

  .logo .rectangle {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
  }

  .logo .line {
    border-right: 1px solid white;
  }

  .logo .logo-text span {
    color: white;
  }

  nav ul {
    justify-content: center;
    align-items: center;
    position: static;
    width: auto;
    flex-direction: row;
  }

  nav ul li a {
    color: white;
  }
  .hamburger {
    display: none;
  }

  .scrolled {
    background-color: white;
  }

  .scrolled a,
  .scrolled .logo span {
    color: #000;
  }

  .scrolled a:hover {
    color: var(--color-honolulu-blue);
  }

  .scrolled .logo .rectangle {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }

  .scrolled .logo .line {
    border-right: 1px solid black;
  }
}

/********** Hero Section **********/
/* Mobile */
@media screen and (min-width: 0px) {
  #hero {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 11rem;
    padding-bottom: 6rem;
    position: relative;
  }

  #hero:before {
    content: "";
    background: url("../images/sleeping_bear.jpg");
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
  }

  .hero-text h2,
  .hero-text p,
  .hero-text a {
    text-align: center;
    /* color: var(--color-one); */
    color: white;
    margin: 1.2rem;
    z-index: 1;
  }

  .hero-text h2 {
    font-size: 38px;
  }

  .hero-text p {
    font-size: 20px;
  }

  .hero-text a {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
  }

  .hero-text a:hover {
    background-color: var(--color-three);
  }
}

@media screen and (min-width: 48rem) {
  .hero-text h2 {
    font-size: 60px;
  }
}

/********** What We Do **********/
/* Mobile */
@media screen and (min-width: 0px) {
  #what-we-do {
    /* background-color: var(--color-one); */
    background-color: white;
    scroll-margin-top: 5.5rem;
  }

  .what-header,
  .what-header p {
    width: 95%;
  }

  .what-header {
    margin-bottom: 40px;
    text-align: center;
  }

  .what-header p {
    margin: auto;
  }

  #what-we-do .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
  }

  #what-we-do .cards .card {
    background-color: var(--color-one);
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
  }

  #what-we-do .cards .card h6 {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 24rem) {
  #what-we-do .card {
    width: 100%;
  }
}

/********** Pricing **********/
/* Mobile */
@media screen and (min-width: 0px) {
  #pricing {
    background-color: var(--color-one);
    scroll-margin-top: 4rem;
  }

  .pricing-header {
    width: 70%;
    margin: auto;
  }

  .pricing-header {
    margin-bottom: 40px;
    text-align: center;
  }

  .pricing-header p {
    margin: auto;
    margin-bottom: 20px;
  }

  /* .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  } */

  #pricing .cards .card {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px var(--color-five);
  }

  #pricing .cards .card h6,
  #pricing .cards .card p {
    color: var(--color-one);
  }

  #pricing .cards .card h6 {
    margin-bottom: 1rem;
    color: var(--color-one);
  }
}

/********** Contact **********/
@media screen and (min-width: 0px) {
  #contact {
    background-color: var(--color-one);
    scroll-margin-top: 2rem;
  }

  #contact form,
  .contact-info {
    background-color: #fff;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  #contact form label {
    color: var(--color-five);
    margin-bottom: 0.4rem;
  }

  #contact form textarea,
  input {
    margin-bottom: 1rem;
  }

  #contact form input {
    height: 2.5rem;
  }

  .contact-info {
    margin-top: 20px;
  }

  .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .info-box h6 {
    margin-bottom: 10px;
  }

  .info-box a {
    color: var(--color-five);
  }

  .contact-icon {
    width: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  #contact .container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }

  #contact form,
  .contact-info {
    margin: 0;
  }

  #contact form {
    width: calc(100% - 400px);
  }
  .contact-info {
    width: 350px;
    margin-top: 0;
  }
}

/********** Footer **********/
footer {
  background-color: var(--color-three);
  color: var(--color-five);
  text-align: center;
  height: 4rem;
}

footer p {
  padding-top: 1.5rem;
}
