/********** General **********/
@media screen and (min-width: 0px) {
  /* Variables */
  :root {
    --font-family: "Roboto", sans-serif;
    --color-one: hsl(240, 0%, 95%);
    --color-two: hsl(240, 0%, 75%);
    --color-three: hsl(240, 0%, 55%);
    --color-four: hsl(240, 0%, 35%);
    --color-five: hsl(240, 0%, 15%);
    --primary-color: hsl(201, 100%, 36%);
    --secondary-color: hsl(215.38, 16.32%, 46.86%);
    /* --secondary-color: #62748e; */
  }

  /* CSS Resets */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-family);
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: var(--primary-color);
  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }

  section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .container {
    width: 95%;
    margin: auto;
  }

  /* .what-header h2 { */
  .section-title {
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: var(--secondary-color);
  }

  .section-caption {
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-transform: uppercase;
  }

  #what-we-do .cards {
    display: grid;
    gap: 1rem;
  }

  .card {
    /* background-color: var(--color-one); */
    display: flex;
    flex-direction: column;
    /* padding: 4rem 2rem; */
    /* border-radius: 8px; */
    /* box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1); */
  }

  .card-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 48rem) {
  .cards {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 1rem;
  }

  .card {
    width: 100%;
  }
}

/********** Navigation **********/
/* Mobile Navbar */
@media screen and (min-width: 0px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  nav {
    background-color: white;
  }

  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
  }

  .logo {
    display: flex;
    align-items: center;
    width: 14.25rem;
    height: 4rem;
  }

  .logo .rectangle {
    position: absolute;
    width: 6rem;
    height: 3rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }

  .logo .rectangle-sm {
    height: 1rem;
  }

  .logo .line {
    border-right: 1px solid black;
  }

  .logo .logo-text {
    margin: auto;
    font-weight: bold;
    color: var(--primary-color);
  }

  .logo .logo-text span {
    color: black;
  }

  nav ul {
    display: flex;
    position: fixed;
    width: 100%;
    text-align: center;
    left: -100%;
    flex-direction: column;
  }

  nav ul.active {
    left: 0;
    top: 5rem;
    background-color: white;
    opacity: 0.97;
  }

  nav ul li {
    margin: 1rem;
    text-transform: capitalize;
  }

  /* nav ul li a.hover {
  } */

  /* Hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    background-color: black;
    height: 3px;
    width: 25px;
    margin: 5px;
    display: block;
  }
}

/* Desktop Navbar */
@media screen and (min-width: 48rem) {
  nav {
    background-color: transparent;
  }

  .logo .rectangle {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
  }

  .logo .line {
    border-right: 1px solid white;
  }

  .logo .logo-text span {
    color: white;
  }

  nav ul {
    justify-content: center;
    align-items: center;
    position: static;
    width: auto;
    flex-direction: row;
  }

  nav ul li a {
    color: white;
    padding: 0.5rem 0;
  }

  nav ul li a:hover {
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
  }

  .hamburger {
    display: none;
  }

  .scrolled {
    background-color: white;
  }

  .scrolled a,
  .scrolled .logo span {
    color: #000;
  }

  /* .scrolled a:hover {
    color: var(--primary-color);
  } */

  .scrolled .logo .rectangle {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }

  .scrolled .logo .line {
    border-right: 1px solid black;
  }
}

/********** Hero Section **********/
/* Mobile */
@media screen and (min-width: 0px) {
  #hero {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 11rem;
    padding-bottom: 6rem;
    position: relative;
  }

  #hero:before {
    content: "";
    position: absolute;
    background: url("../images/sleeping_bear.jpg");
    background-size: cover;
    background-attachment: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
  }

  .hero-text h1,
  .hero-text p,
  .hero-text a {
    text-align: center;
    color: white;
    margin: 1.2rem;
    z-index: 1;
  }

  .hero-text h2 {
    font-size: 38px;
  }

  .hero-text p {
    font-size: 20px;
  }

  .hero-text a {
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
  }

  .hero-text a:hover {
    background-color: var(--secondary-color);
  }
}

@media screen and (min-width: 48rem) {
  .hero-text h2 {
    font-size: 60px;
  }
}

/********** What We Do **********/
/* Mobile */
@media screen and (min-width: 0px) {
  #what-we-do {
    background-color: white;
    scroll-margin-top: 5.5rem;
  }

  #what-we-do .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .what-header {
    width: 95%;
    margin-bottom: 4rem;
    text-align: center;
  }

  .what-header p {
    margin-top: 1rem;
  }

  #what-we-do .cards .card {
    background-color: var(--color-one);
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    border-radius: 8px;
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 48rem) {
  #what-we-do .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  /* #what-we-do .card {
    width: 100%;
  } */
}

/********** Pricing **********/
/* Mobile */
@media screen and (min-width: 0px) {
  .pricing-header p {
    margin: auto;
    margin-top: 1rem;
  }

  #pricing .cards .card {
    padding: 1rem 0;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 48rem) {
  #pricing .container {
    width: 70%;
    margin: auto;
  }

  #pricing .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/********** Performance **********/
@media screen and (min-width: 0rem) {
}
#performance {
  background-color: var(--primary-color);
}

.performance-header {
  color: white;
  margin-bottom: 1rem;
}

.performance-header p {
  margin: auto;
  margin-top: 1rem;
}

.performance-content {
  color: white;
}

.performance-content p {
  margin-bottom: 1rem;
}

#performance img {
  width: 100%;
  border-radius: 12px;
}

@media screen and (min-width: 48rem) {
  .performance-content {
    display: flex;
  }

  .performance-image {
    width: 50%;
    margin: auto;
  }
}

/********** Contact **********/
@media screen and (min-width: 0px) {
  #contact {
    background-color: var(--color-one);
    scroll-margin-top: 2rem;
  }

  #contact form,
  .contact-info {
    background-color: #fff;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  #contact form label {
    color: var(--color-five);
    margin-bottom: 0.4rem;
  }

  #contact form textarea,
  input {
    margin-bottom: 1rem;
  }

  #contact form input {
    height: 2.5rem;
  }

  .contact-info {
    margin-top: 20px;
  }

  .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .info-box h6 {
    margin-bottom: 10px;
  }

  .info-box a {
    color: var(--color-five);
  }

  .contact-icon {
    width: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  #contact .container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }

  #contact form,
  .contact-info {
    margin: 0;
  }

  #contact form {
    width: calc(100% - 400px);
  }
  .contact-info {
    width: 350px;
    margin-top: 0;
  }
}

/********** Footer **********/
footer {
  background-color: var(--color-three);
  color: var(--color-five);
  text-align: center;
  height: 4rem;
}

footer p {
  padding-top: 1.5rem;
}
